body {
  background-color: #29241c;
  background-color: #489a1f;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
}
#wrap {
  margin-top: 30px;
  text-align: center;
  color: silver;
  text-shadow: 1px 1px black;
}
video {
  width: 502px;
  height: 282px;
}
.container {
  position: relative;
  width: 502px;
  height: 282px;
  margin: 0 auto;
  border: 8px solid silver;
  border-radius: 5px;
}
.container img.play {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 25%;
  cursor: pointer;
  display: none;
}
.container img.reload {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 50%;
  cursor: pointer;
  display: none;
}
.buttons {
  position: absolute;
  width: 502px;
  height: 282px;
  top: 0;
  left: 0;
}
