body {
  background-color: #29241c;
  background-color: #489a1f;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6H6v4H4V6H2V4h2V0h2v4h10V0h2v4h2v2h-2v4h-2V6z' fill='%23d3e3ce' fill-opacity='0.75' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#wrap {
  margin-top: 30px;
  text-align: center;
  color: silver;
  text-shadow: 1px 1px black;
}
video {
  width: 502px;
  height: 282px;
}
.container {
  position: relative;
  width: 502px;
  height: 282px;
  margin: 0 auto;
  border: 8px solid silver;
  border-radius: 5px;
}
.container img.play {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 25%;
  cursor: pointer;
  display: none;
}
.container img.reload {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 50%;
  cursor: pointer;
  display: none;
}
.buttons {
  position: absolute;
  width: 502px;
  height: 282px;
  top: 0;
  left: 0;
}
